* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.7s ease;
    
}

.dark-theme-buttons {
    background-color: rgb(65, 65, 65);
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #b8b8b8;
}

img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    display: block;
}

.progress-stacked {
margin-bottom: 10px;
}

.progress-bar.html {
    background-color: #f16529;
    color: #ffffff;
}
.progress-bar.css {
    background-color: #0067eb;
    color: #ffffff;
}
.progress-bar.js {
    background-color: #f5da61;
    color: #000000;
}

.card-text {
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#darklight {
    background-color: #b8b8b8;
}

.btn:hover {
    background: linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background-clip: padding-box;
    position: relative;
    color: #ffffff;
    cursor: pointer;
}

.tooltip1 {
    visibility: hidden;
    width: 100px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
  }

  #button1:hover .tooltip1 {
    visibility: visible;
    opacity: 1;
  }


.album {
    background-color: #b8b8b8;
} 

.row {
    background-color: #b8b8b8;
    color: #000000;
}

.heading {
    border-radius: 10px;
    padding: 10%;
    animation: zoomIn;
    animation-duration: 1s;
}

.name {
    background: -webkit-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: -moz-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: -o-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
a:hover {
    background: -webkit-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: -moz-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: -o-linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    background: linear-gradient(105deg, rgba(155, 163, 203, 1) 0%, rgba(3, 18, 221, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#background-header {
    background-image: url(background.jpg);
    background-attachment: fixed;
}

.album {
    animation: fadeInUp;
    animation-duration: 1s;
}

.img-fluid, .card-body:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.lines, .project-title {
    font-weight: 700;
}

.progress {
    margin-bottom: 10px;
}

.deploy {
    width: 118px;
    height: 20px;
    margin-bottom: 10px;
}

.dark-theme {
    background-color: rgb(65, 65, 65);
    color: #ffffff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    }
                      
.back-to-top.btt-show {
    opacity: 1;
    visibility: visible;
}
